.form-content {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background:inherit;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.image-style {
    display: block!important;
    width:100%;
    height:380px;
    border-radius: 5px 5px 5px 5px;
}
.conten-img-style {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background:inherit;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}
.card-item {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.7em;
}
.card-description {
    padding-top: 0.2em;
}