.image {
    width: 4em;
    height: 2.5em;
    padding-top: 0.3em;
    color: #fff;
}

.none-decorate {
    list-style-type: none;
    overflow: hidden;
    background-color: #39ace7;
}

.right-li {
    float: right;
}

.left-li {
    float: left;
}

.position {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* .position:hover {
    background-color: #fff;
    border-radius: 1px solid #343A41;
} */