/*#sidebar,
.content {
    height: 100%;
    overflow: auto;
    float: right;
    transition: width .35s;
}

#sidebar {
    background: #fff;
    width: 30%;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
}

#sidebar.collapsed {
    width: 0;
}

#sidebar.collapsed+.content {
    width: 100%;
}

.content {
    background: #6c757d;
    width: 70%;
}

button {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    margin: 20px;
    cursor: pointer;
}

h3 {
    font-family: sans-serif;
    color: white;
    text-align: center;
}*/

/*new tests template CSS*/
.wrapper {
    min-height: 100vh;
    position: relative;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}
